/* 트게더 배경 */
body, html {

    background-image: url(http://d1841mjet2hm8m.cloudfront.net/thumb-900/fr_1099/1620/29/86e6aea6dfb84d33ac6d1a135aed0efb.jpg);

    background-repeat: no-repeat;

    background-position: center center;

    background-attachment: fixed;

    background-size: cover;

}

/*스크롤 */

#movetotop img{display:none}

#movetotop{display: inline-block;opacity:1;background:url(https://github.com/Ak-mong/css/blob/master/depositphotos_120181422-stock-photo-watercolor-dreamcatcher-with-beads-and.png?raw=true);    width: 80px;  height: 80px;background-size: contain;background-repeat: no-repeat;}

/*읽은글 색상변경*/

#article-list>.article-list-row>.item>.list-title>a:visited {

    color: #f0e68c !important; /* 읽은 글 색상 코드 입력 */

}

/*로고우측 이미지*/
header .row>div:nth-child(1)>a:after{

    position: absolute;

    left: 135px; /* (로고 너비 + 15)px */

        /* ex) left: 160px; */

    top: 5px;

    background-image: url(https://i.ytimg.com/vi/DM0CPARNLek/hqdefault.jpg); /* 들어갈 이미지 경로 */

    background-size: 40px 40px;

    display: inline-block;

    width: 40px;

    height: 40px;

    content: "";

}

/*폰트 별빛등별체*/
@font-face { font-family: '777Starlandmoon'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_nine_@1.1/777Starlandmoon.woff') format('woff'); font-weight: normal; font-style: normal; }

*{font-family:'777Starlandmoon'}
*{ font-size : 17px; }

/*눈모양 고치기*/
#article-list #article-option-area>#article-option-area-toggle-btn { position: relative; right: 14px; }

/* 로고밑 NAV bar 두께 */

header #header-bar>.row {

  border-top: 4px solid #ffa5b5;/*px은 높이 #은 헥사색깔*/

  border-right: none;

  border-bottom: none;

}

/*상단 배너 h70px이 적당*/

header:before {

    display: block;

    width: 100%;

    height: 78px;

    background: url(https://github.com/Ak-mong/css/blob/master/depositphotos_120181422-stock-photo-watercolor-dreamcatcher-with-beads-and.png?raw=true);   

    background-position: center center;

    position: relative;

    top: 0;

    padding: 0;

    content: "  ";

    margin-bottom: 15px;

}

header {

    padding: 0 0 0.4em 0;

}

/* 헤더 배너=로고 w110~200px h50px 이 적당(강제)*/

header .row>div:nth-child(1)>a {

  display: block;

  width: 145px;

  height: 50px;

  background: url(https://github.com/Ak-mong/css/blob/master/%EB%A1%9C%EA%B3%A0.png?raw=true) no-repeat;

  background-size: 100px 62px;

}


header .row>div:nth-child(1)>a>img {

  display: none ;
   

    filter: grayscale(100%);

  opacity: 0.8;

}

/* 검색폼 보더 */



header #right-search-form>input[type='text'] {

  border: 3px solid #ffa5b5;/*색깔 바꾸기*/

}

/* 전체 쉐도우 효과 */



header #header-bar>.row,

#main .menu-wrapper,

#main #main-content>div.frame {

  box-shadow: 3px 0px 10px rgba(0, 0, 0, 0.2);

}


/* 트게더 전체메뉴 / 유용한링크 / 트위치 스케쥴 */



#main .menu-wrapper>.header {

  background: #ffa5b5;

}



.fa-navicon:before,

.fa-reorder:before,

.fa-bars:before {

  color: white;

}



.fa-square:before {

  color: #a8aca1;

}



header #header-bar>.row,

#main .menu-wrapper,

#main #main-content>div.frame {

  border-right: none;

  border-bottom: none;

}



#main .menu-wrapper {

  border: none;

}

/* 헤더 검색 버튼 */



header #right-search-form>#right-search-btn {

  color: #ffa5b5; /*색바꾸기(분홍)*/

}

/* 헤더 [광고]배경색 */



header #header-bar #header-top-notice strong.notice-badge {

  background: #a8aca1;/*색바꾸기(회색임)*/

}

/* fa색상(최근 별 웃음) */



header #header-bar .fa {

  color: #ffa5b5; /*색바꾸기(분홍)*/

}

/* 스트리머 게시판 상단 정보 글씨색상(즐겨찾기,정보 부분) */



#board-info #board-info-bottom a {

  color: #a8aca1; /*색바꾸기(회색)*/

}

/* 좌측 배너 이니셜 */

#main .menu-wrapper>a>em {

    color: #0086cd;

}

/* 좌측 배너 점 */

.fa-square:before {

    color: #0086cd;

}

#article-list #article-listcategory {

    border-top: 2px solid #0086cd;

}


/* 좌측메뉴 메뉴사이의 공간 색상 */



#main .menu-wrapper .spacer {

  background: #a8aca1; /*색바꾸기(회색)*/

  height: 0.15em;

}

/* 게시글 관련부분 */


/*작성자 부분 길이*/
#article-list>.article-list-row>.item>.list-title>.list-writer>span {

  width: 120px !important;

}

/*카테고리 없는부분 색깔*/
#article-list #article-list-category {

  border-top: 2px solid #a8aca1;

  background: white;

}

/*카테고리부분이랑 설정 버튼 색깔*/

#article-list #article-list-category>a {

  background: white;

}

/*카테고리 각부분 높이 조절*/
#main .menu-wrapper>a {

  padding: 0.5em 1.4em 0.5em 0.7em !important;

}

/*집 모양버튼(게시판처음으로 돌아오는 버튼) 색 바꾸기*/
a {

  color: #a8aca1;

}

/*공지부분 i 표시 색깔 바꾸기*/
span.a-badge i.fa.fa-info-circle {

  color: #ffa5b5;

}


/*추천수 색깔*/
#article-list>.article-list-row>.item>.list-header>span {

  background-color: #a8aca1;

}

/*덧글달린 개수 색깔*/
#article-list>.article-list-row>.item>.list-title>small.comment-count {

  color: #a8aca1;

}
/*작성자 색깔*/
#article-list>.article-list-row>.item>.list-title>.list-writer.logged>span {

  color: #a8aca1;

}

/*페이지 매기기 색*/
.pagination>.active>a,

.pagination>.active>a:focus,

.pagination>.active>a:hover,

.pagination>.active>span,

.pagination>.active>span:focus,

.pagination>.active>span:hover {

  background-color: #a8aca1;

  border-color: #a8aca1;

}



.pagination>li>a:focus,

.pagination>li>a:hover,

.pagination>li>span:focus,

.pagination>li>span:hover {

  color: #a8aca1;

}



.pagination>li>a,

.pagination>li>span {

  color: #a8aca1;

}

/*게시글내 위에 바 생성*/
#article-content-wrapper>.header {

  border-top: 2px solid #a8aca1;

}

/*답변자(덧글다는사람) 닉네임 글씨색*/
#article-reply-area #reply-real-area .reply>.reply-header>.reply-writer.logged,

#article-reply-area #reply-best-area .reply>.reply-header>.reply-writer.logged {

  color: #a8aca1;

}

/*게시글에서 카테고리 보이는거 색깔 통일*/
#article-info>h2>span.category {

  color: #a8aca1 !important;

}

/*댓글 개수 가르쳐주는부분 색깔*/
#article-reply-area>.header h5 {

  color: #a8aca1;

}

/* footer */
/*리스트에서 게시글옆에 수직선 지우기*/


#article-list>.article-list-row {

  border-right: none;

}

/*인기글,글쓰기 간격 넓히기*/
#article-list #article-list-menu {

  box-sizing: border-box;

  width: unset;

  margin: 20px;

}

/*게시판 내 검색창 밑 공간*/
#article-list #boardSearchForm {

  padding-bottom: 20px;

  height: unset;

}

/*'글쓰기' 색깔 바꾸기*/
.btn-primary {

  background: #ffa5b5 !important;

}

/*게시글 리스트 둥글게*/

#main .menu-wrapper a:nth-last-child(1) {

    border-radius: 0px 0px 15px 15px;

}

/*최근,별, 광고, 로그인상태 확인하는 바 둥글게 만들기*/
header #header-bar>.row, #main .menu-wrapper, #main #main-content>div.frame {

    border-radius: 15px;
}

/*좌측바 둥글게 하기*/
#main .menu-wrapper>.header {

    border-radius: 15px 15px 0 0;

}

/*좌측바 꾸미기(메모지효과)*/
#main .menu-wrapper a:nth-last-child(1) {



    border-radius: 0px 0px 15px 15px;



}

/*닉네임앞 아이콘 지우기*/
.list-writer.logged img {display:none;}

/*닉네임앞 아이콘 추가하기*/
.list-writer.logged img[src="https://static-cdn.jtvnw.net/chat-badges/globalmod.png"] {

    display: inline;

}

/*순위표시 지우기*/
#board-info > h1 > .badge-default  { display : none }

/*스트리머게시판 프사관련*/
/*#board-info {

    overflow: visible;

}

#board-info #board-info-profile-img {

    width: 90px;

    border-radius: 100px;

    border: solid 2px #00C1FF;

    background: #FFFFFF;

    position : absolute;

    top : -15px;

    z-index: 1;

}

※width : 프로필 사진의 너비

border-radius : 반지름? 일단 동그랗게 만들어주는 역할인 듯!

border: solid 2px #컬러값; : 이거는 프사 테두리? 인것 같은데 그대로 두셔도 될거에용

background: #FFFFFF; : 프사 영역의 배경색 부분이에요. 이거 해두시면 프사 중간에 파란 선 껴있는 거 없앨 수 있어용!

top : 프사가 떠있는 높이 부분이에요. 설정해보시면서 조절하시면 될것같아요!
float: left로하면 왼쪽에 뜸 안뜨면(!important할것)


#board-info h1 {

    margin-left: 95px

}



#board-info #board-info-bottom {

    margin-left: 95px;

}

※이거 두개는 프로필 사진 옆에 있는것들인듯한데 위에 width 설정하신 값 + 5정도 해주시면 됩니당*/


/*스트리머/게시판 이름 글자크기*/
#board-info h1>a { font-size:50px !important}

/*인원수 오른쪽으로 옮기기*/
#board-info #viewers-area {

    float: right;

}

/*인기글 별 돌리기랑 이미지 바꾸기*/

@keyframes spin {

  from { transform: rotate(360deg); }

  to { transform: rotate(0deg); }

}



span.a-badge i.fa.fa-star {

    animation: spin 2s infinite linear;

}



span.a-badge i.fa.fa-star:before {

    content: url(); /*넣고싶은 링크*/

}

/* 마우스 커서 포인터 */
html,
body,
.fr-popup.emoticons,
.fr-top,
select.form-control,
input[type=checkbox],
input[type=radio],
.opt
 {
 cursor: url(https://github.com/Ak-mong/css/blob/master/%EC%BB%A4%EC%84%9C.png?raw=true) 0 0, auto !important;
}

/* 마우스 커서 링크 */
#right-search-form>#right-search-btn,
#board-info #board-info-bottom #addFavoriteBtn,
#article-list #article-option-area>#article-option-area-toggle-btn,
#article-list>.article-list-row>.item>.list-title>.list-writer>span,
.reply > .reply-header > .reply-writer.logged,
.reply-menu,
.btn,
.fr-toolbar .fr-command.fr-btn,
.fr-popup .fr-command.fr-btn,
.fr-view img,
.pull-left,
a {
 cursor: url(https://github.com/Ak-mong/css/blob/master/%EC%BB%A4%EC%84%9C.png?raw=true) 0 0, auto !important;
}
/* 마우스 커서 텍스트 */
span#viewers,
#article-list #boardSearchForm .form-control,
.fr-view,
.fr-box.fr-basic.fr-element,
input[type='text']
 {
 cursor: url(https://github.com/Ak-mong/css/blob/master/%EC%BB%A4%EC%84%9C.png?raw=true) 0 0, auto !important;
}